/*
 * CSS Variables
 *
 */

:root {
	--main-background-color: #E6E7E8;
	--navbar-background-color: #2E3092;
}

/*
 * Reset
 *
 */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*
 * index.php
 *
 */

body {
	/*background-color: var(--navbar-background-color);*/
	font-family: 'Comfortaa', cursive;
}

.vertical-center {
	width: 100vw;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-background-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

.vertical-center img {
	padding-top: 50px;
	padding-bottom: 50px;
}

/*
 * header.php
 *
 */

.navbar-logo img {
	max-width: 30%;
	max-width: 40vh;
}

.navbar-logo {
	background-color: var(--main-background-color);
}

.navbar-main {
	background-color: var(--navbar-background-color);
}

/*
 * employees_all.php
 *
 */

.employees_wrapper {
	margin: 30px 50px 50px 50px;
}

.employees_wrapper th {
	width: 159px;
}

#table-mobile {
	display: none;
}

/*
 * add_employee.php
 *
 */

.add_emp_wrapper h1 {
	margin: 20px 20px;
}

.input-group-text {
	width: 150px;
}

.btn-register {
	/*width: 150px;*/
	margin-top: 20px;
	text-align: right;
}

/*
 * edit_employee.php
 *
 */

.edit_emp_wrapper h1 {
	margin: 20px 20px;
}

.input-group-text {
	width: 150px;
}

.btn-update {
	/*width: 150px;*/
	margin-top: 20px;
	text-align: right;
}








/* mobile */
@media only screen and (max-width:480px){
	.vertical-center img {
		width: 100vw;
		padding-right: 10px;
		padding-left: 10px;
	}

	/*
	 * employees_all.php
 	 *
 	 */

	.employees_wrapper {
		margin: 10px;
	}

	.employees_wrapper h1 {
		font-size: 16px;
	}

	.employees_wrapper th, td {
		font-size: 14px;
	}

	#table-all {
		display: none;
	}

	#table-mobile {
		display: block;
	}

	#table-mobile td {
		text-align: right;
		vertical-align: middle;
	}

	.btn-edit, .btn-del {
		width: 60px;
		font-size: 12px;
	}

	/*
	 * add_employee.php
 	 *
 	 */

 	.add_emp_wrapper h1 {
 		font-size: 16px;
 	}

	.add_emp_wrapper .input-group-text {
		width: 95px;
 		font-size: 11px;
 		padding: 5px;
 	} 	

 	.add_emp_wrapper .form-control {
 		font-size: 11px;
 	}

 	/*
	 * edit_employee.php
 	 *
 	 */

 	.edit_emp_wrapper h1 {
 		font-size: 16px;
 	}

	.edit_emp_wrapper .input-group-text {
		width: 95px;
 		font-size: 11px;
 		padding: 5px;
 	} 	

 	.edit_emp_wrapper .form-control {
 		font-size: 11px;
 	}
}